*{
    margin: 0;
    padding: 0;
}
.top-palyers, .blogs{
display: grid;
grid-gap: 30px;
margin-top: 20px;
/* place-items: center; */

}
.top-palyers{
    
    grid-template-columns: repeat(3, 1fr);
    
    }
.blogs{
    grid-template-columns: repeat(2, 1fr);
   }
    .thumbnil img{
        width: 200px;
        margin-right: 20px;
    }
main{
        width: 1200px;   
        margin: 0 auto;
        margin-top: 20px;
}
section{
   margin-bottom: 50px;
}
.blog-info{
    
}
.palyer, .blog{
    display: flex;
    align-items: center;
}
.palyer img{
    height: 50px;
    margin-right: 20px;
}
@media (max-width:992px){
    .top-palyers{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width:688px){
    .top-palyers{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog{
        display: block;
    }
}